.header {

}

body {
	background-color: Black;
}

.logo {
	text-align: center;
	margin: auto;
	color: Red;
}

.logo h1 {
	margin: auto;
	font-size: 60;
	font-family: Coalititon;
	margin-top: 150px;
}

.logo h2 {
	margin: 0px;
	font-size: 45px;
	margin-top: -16px;
	font-family: Bebas;
}

.nav {
	margin: auto;
}

.downarrow {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    width: 80px;
}

.view2 {
	background: white;
	/*background: url ('');*/
}

.header {
	text-align: left;
	margin: auto;
	color: red;	
}

.head h1 {
	color: red;
	font-size: 60px;
	font-family: Babas;
}
